body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.childDiv {
    /* using css variables */
    width: var(--cell-size);
    height: var(--cell-size);
    box-sizing: border-box;
}

.childDiv:hover {
    background-color: var(--randomRgbValue);
}

.popup {
    margin: 20px;
    font-size: xx-large;
    border: 2px solid darkblue;
    border-radius: 20px;
    padding: 5px;
    background-color: aqua;
}